#card {
  margin: 50px auto;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 25px 1px rgba(128, 128, 128, 0.544);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
#card h4{
  width: 70%;
  margin: 0;
  text-align: center;
  color: rgb(39, 39, 39);
  font-weight: 600;
  font-size: 22px;
}
#card p{
  color: rgb(8, 8, 153);
  font-size: 20px;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.results{
  width: 400px;
  height: 30px;
}
